@if(!loginStatus) {
  <p class="title__small"> Zaloguj się aby moc dać recenzje: </p>
}
<app-pagination
  [userHasReview]="userHasReview"
  [totalReviews]="totalReviews"
  [reviewsPerPage]="reviewsPerPage"
  [currentPage]="currentPage"
  (filterChanged)="handleFilterChange($event)"
  (sortChanged)="handleSortChange($event)"
  (pageChanged)="onPageChange($event)"
></app-pagination>

<app-review-form
  [userHasReview]="userHasReview"
  [loginStatus]="loginStatus"
  [item_id]="item_id"
  [filter]="filter"
  [sort]="sort"
  [editMode]="editMode"
  [rating]="rating"
  [reviewText]="reviewText"
  (editModeChange)="handleEditMode($event)"
></app-review-form>

<div class="review__order">
  @for (review of reviews; track review.review_id) {
    <app-review [review]="review"
                [loginStatus]="loginStatus"
                [item_id]="item_id"
                [user]="user"
                [filter]="filter"
                [sort]="sort"
                (editStart)="handleEditMode($event)"
    ></app-review>
  }
</div>
