<form class="form__wrapper" [formGroup]="addressForm">
  <app-input-wrapper
    [inputLabel]="'Imię'"
    [inputPlaceholder]="'Jan'"
    [inputType]="'text'"
    [submitted]="submitted"
    [control]="nameInput">
  </app-input-wrapper>
  <app-input-wrapper
    [inputLabel]="'Nazwisko'"
    [inputPlaceholder]="'Kowalski'"
    [inputType]="'text'"
    [submitted]="submitted"
    [control]="surnameInput">
  </app-input-wrapper>
  <app-input-wrapper
    [inputLabel]="'Miasto'"
    [inputPlaceholder]="'Warszawa'"
    [inputType]="'text'"
    [submitted]="submitted"
    [control]="cityInput">
  </app-input-wrapper>
  <app-input-wrapper
    [inputLabel]="'Ulica'"
    [inputPlaceholder]="'Lubartowska 7'"
    [inputType]="'text'"
    [submitted]="submitted"
    [control]="streetInput">
  </app-input-wrapper>
  <app-input-wrapper
    [inputLabel]="'Nr Mieszkania'"
    [inputPlaceholder]="'(opcjonalne)'"
    [inputType]="'text'"
    [submitted]="submitted"
    [control]="apartmentInput">
  </app-input-wrapper>
</form>


<form [formGroup]="radioForm" class="radio__wrap">
  <div class="radio__wrapper">
    <input type="radio" formControlName="paymentMethod" value="card">
    <p class="radio__text">Karta</p>
  </div>
  <div class="radio__wrapper">
    <input type="radio" formControlName="paymentMethod" value="blik">
    <p class="radio__text">Blik</p>
  </div>
</form>

<form class="form__wrapper" [formGroup]="selectedPaymentMethod=='card' ? cardForm : blikForm">
  @if (selectedPaymentMethod == 'card') {
    <app-input-wrapper
      [inputLabel]="'Numer karty'"
      [inputPlaceholder]="'111122223333'"
      [inputType]="'text'"
      [submitted]="submitted"
      [control]="cardNumberInput">
    </app-input-wrapper>
    <app-input-wrapper
      [inputLabel]="'Data ważności'"
      [inputPlaceholder]="'11/25'"
      [inputType]="'text'"
      [submitted]="submitted"
      [control]="expirationDateInput">
    </app-input-wrapper>
    <app-input-wrapper
      [inputLabel]="'CCV'"
      [inputPlaceholder]="'337'"
      [inputType]="'text'"
      [submitted]="submitted"
      [control]="ccvInput">
    </app-input-wrapper>
  } @else if (selectedPaymentMethod == 'blik') {
    <app-input-wrapper
      [inputLabel]="'Kod blik'"
      [inputPlaceholder]="'123456'"
      [inputType]="'text'"
      [submitted]="submitted"
      [control]="blikInput">
    </app-input-wrapper>
  }
</form>
<button class="submit__button" (click)="onSubmit()"> Kup Produkty</button>
<div>
  <p class="title">Cena całkowita: </p>
  <p class="title">{{ totalCost }} zł</p>
</div>
