.order__wrapper {
  display: flex;
  width: 320px;
  flex-direction: row;
  justify-content: space-around;
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--White);
  }
}
.margin__sides {
  margin: 0 20px;
}
.order__border {
  border: 3px dashed var(--White);
  border-radius: 30px;
  padding: 20px 10px;
}
.clickable {
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    border: 3px dashed var(--Blue);
    background-color: var(--Grey);
    p {
      color: var(--Blue);
    }
  }
}
.section__wrapper {
  display: flex;
  flex-direction: column;
  gap:10px;
}
.address__wrapper {
  display: flex;
  gap: 5px;
  text-align: center;
}
