.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.user__button {
  text-decoration: none;
  background-color: var(--Grey);
  color: var(--White);
  align-self: center;
  width: 200px;
  padding: 10px 0;
  border: 2px solid var(--White);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 20px;
  text-align: center;
  &:hover {
    border: 2px solid var(--Blue);
    color: var(--Blue);
    &:nth-last-child(1){
      border: 2px solid var(--Red);
      color: var(--Red);
    }
    &:nth-last-child(2){
      border: 2px solid var(--Red);
      color: var(--Red);
    }
  }
}
