<div class="position__relative">
  <app-return-button></app-return-button>
  <p class="title">Przedmiot</p>
  @if(errorItem) {
    <p class="title__small">Pobranie przedmiotu z bazy nie powiodło się</p>
  }
  <app-item
    [item]="item"
    [itemQuantity]="null"
    [showQuantity]="false"
    [showBorder]="true"
    [showRating]="true"
    [showButtonFavorite]="true"
    [showButtonCart]="true"
    [showDescription]="true"
    [clickable]="false"
    [itemNameLength]="'full'"
    [columnAmount]="'two'"
    [imageSize]="'big'"
    [itemSize]="'big'"
    [buttonPlacment]="'bottom'"
    [whichButtonFirst]="'fav'"
  ></app-item>
  @if (item) {
    <div class="wrapper">
      <p class="title">Opinie:</p>
      @if (item.review_amount == 0 && !errorReview) {
        <p class="title__small">Nie ma opinii na temat tego produktu</p>
      } @else if (errorReview) {
        <p class="title__small">Pobranie Recenzji z bazy nie powdiodło się</p>
      } @else if (!errorReview) {
        <app-review-section
          [totalReviews]="item.review_amount"
          (errorReview)="handleReviewError()"></app-review-section>
      }
    </div>
  }
</div>


