.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}
.position__relative {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: clamp(360px , 100vw, 760px);
}
