<form (ngSubmit)="submitReview()" class="your__review" *ngIf="loginStatus && (!check || editMode)">
  <p class="title__small"> Napisz Recenzję: </p>
  <button *ngIf="editMode" (click)="cancelEditReview()" class="review__button"><mat-icon>close</mat-icon></button>
  <div>
    <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
      <mat-icon
        class="review__star"
        (mouseover)="enter(star)"
        (click)="setRating(star)"
        (mouseleave)="leave()"
      >
        {{ hoverState >= star ? 'star' : 'star_outline' }}
      </mat-icon>
    </ng-container>
  </div>

  <textarea class="review__input" placeholder="Napisz recenzję (opcjonalne)" name="reviewText"  [(ngModel)]="reviewText"></textarea>
  <button class="review__submit__button" type="submit" >
    <p *ngIf="!editMode">Wstaw Recenzję</p>
    <p *ngIf="editMode">Zmodyfikuj Recenzje</p>
  </button>
</form>
