@if (totalReviews!=0) {
  <div class="pagination">
    <button (click)="onFilterChange()">
      @if (filter=='rate'){
        <mat-icon>star</mat-icon>
      } @else if (filter=='date') {
        <mat-icon>calendar_month</mat-icon>
      }
    </button>
    <button (click)="onSortChange()">
      @if(sort=='asc') {
        <mat-icon>arrow_upward</mat-icon>
      } @else if (sort=='desc') {
        <mat-icon>arrow_downward</mat-icon>
      }
    </button>
  </div>
}
<div class="pagination">
  @for (page of pages; track page) {
    <button
      [disabled]="page === '...'"
      (click)="onPageChange(page)">
      {{ page }}
    </button>
  }
</div>
