<div class="review__wrapper" [ngClass]="userHasReview(review.user_id) ? 'review__order__higher' : 'review__order__lower' ">
  @if(userHasReview(review.user_id) && loginStatus) {
    <button class="review__button__delete review__button" (click)="deleteReview(item_id, review.user_id)"><mat-icon>close</mat-icon></button>
    <button class="review__button__edit review__button" (click)="startEdit()"><mat-icon>edit</mat-icon></button>
  }
  <p class="review__name">{{review.username}}</p>
  <p class="review__name">{{ review.date | date:'dd-MM-yyyy' }}</p>
  <div>
    @for (star of [1, 2, 3, 4, 5]; track star) {
      <ng-container>
        @if (review.rate >= star) {
          <mat-icon class="review__star">star</mat-icon>
        } @else if (review.rate < star) {
          <mat-icon class="review__star">star_outline</mat-icon>
        }
      </ng-container>
    }
  </div>
  <p class="review__text">{{review.text}}</p>
</div>
