.wrapper {
  display: flex;
  //width: 360px;
  width: clamp(360px, 100vw, 760px);
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-bottom: 100px;
}
.message {
  color: var(--White);
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  &__success {
    color: var(--Green);
  }
  &__fail {
    color: var(--Red);
  }
}


