.login__wrapper {
  display: flex;
  width: 360px;
  flex-direction: column;
  position: relative;
  margin-bottom: 100px;
}
.message {
  color: var(--White);
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  &__success {
    color: var(--Green);
  }
  &__fail {
    color: var(--Red);
  }
}


