<div class="wrapper">
  <app-return-button></app-return-button>
  <p class="title">Użytkownik</p>
  <form class="form__wrapper" [formGroup]="userForm" (ngSubmit)="saveGeneralData()">
    <p class="title">Dane Ogólne</p>
    <app-input-wrapper
    [inputLabel]="'Nazwa użytkownika'"
    [inputPlaceholder]="''"
    [inputType]="'text'"
    [submitted]="userSubmitted"
    [control]="usernameInput">
    </app-input-wrapper>

    <app-input-wrapper
      [inputLabel]="'Email'"
      [inputPlaceholder]="''"
      [inputType]="'email'"
      [submitted]="userSubmitted"
      [control]="emailInput">
    </app-input-wrapper>

    <app-input-wrapper
    [inputLabel]="'Miasto'"
    [inputPlaceholder]="'Warszawa'"
    [inputType]="'text'"
    [submitted]="userSubmitted"
    [control]="cityInput">
    </app-input-wrapper>

    <app-input-wrapper
    [inputLabel]="'Ulica'"
    [inputPlaceholder]="'Ziemiana 7'"
    [inputType]="'text'"
    [submitted]="userSubmitted"
    [control]="streetInput">
    </app-input-wrapper>

    <app-input-wrapper
    [inputLabel]="'Nr mieszkania'"
    [inputPlaceholder]="'(opcjonalne)'"
    [inputType]="'text'"
    [submitted]="userSubmitted"
    [control]="apartmentInput">
    </app-input-wrapper>

    <button type="submit" class="submit__button">Zapisz</button>
  </form>

  <form class="form__wrapper" [formGroup]="passwordForm" (ngSubmit)="savePassword()">

    <p class="title">Zmiana Hasła</p>
    <app-input-wrapper
    [inputLabel]="'Stare hasło'"
    [inputPlaceholder]="''"
    [inputType]="'password'"
    [submitted]="passwordSubmitted"
    [control]="oldPasswordInput">
    </app-input-wrapper>

    <app-input-wrapper
    [inputLabel]="'Nowe hasło'"
    [inputPlaceholder]="''"
    [inputType]="'password'"
    [submitted]="passwordSubmitted"
    [control]="newPasswordInput">
    </app-input-wrapper>

    <app-input-wrapper
    [inputLabel]="'Powtórz hasło'"
    [inputPlaceholder]="''"
    [inputType]="'password'"
    [submitted]="passwordSubmitted"
    [control]="repeatNewPasswordInput">
    </app-input-wrapper>
    <button type="submit" class="submit__button">Zmień hasło</button>

  </form>
</div>
