<div class="login__wrapper">
  <p class="title">Dane użytkownika:</p>
  <form class="form__wrapper" [formGroup]="myForm1" (ngSubmit)="saveGeneralData()">
    <p class="title">Dane Ogólne</p>

    <div class="input__wrapper ">
      <p>Nazwa użytkownika:</p>
      <input type="text" class="form__input input__disabled" [value]="user!.username" disabled>
    </div>

    <div class="input__wrapper">
      <p>Email:</p>
      <input type="text" class="form__input input__disabled" [value]="user!.email" disabled>
    </div>

    <div class="input__wrapper">
      <p>Ulica:</p>
      <input type="text" class="form__input" formControlName="street" [value]="user!.street">
    </div>

    <div class="input__wrapper">
      <p>Miasto:</p>
      <input type="text" class="form__input" formControlName="city" [value]="user!.city">
    </div>

    <div class="input__wrapper">
      <p>Nr mieszkania (opcjonalne):</p>
      <input type="text" class="form__input" formControlName="apartment" [value]="user!.apartment">
    </div>

    <button type="submit" class="submit__button">Zapisz</button>
    <div class="message">
      <p *ngIf="check" class="message__success">Zmieniono dane</p>
      <p *ngIf="!check && submitted2" class="message__fail">Coś poszło nie tak</p>
    </div>
  </form>

  <form class="form__wrapper" [formGroup]="myForm2" (ngSubmit)="savePassword()">

    <p class="title">Zmiana Hasła</p>
    <div class="input__wrapper">
      <p>Stare hasło:</p>
        <input type="password" class="form__input" formControlName="oldPassword">
        <div class="error__popup">
          <p *ngIf="errors.includes('badPassword') && !myForm2.get('oldPassword')?.hasError('required') && submitted">Błędne hasło</p>
          <p *ngIf="myForm2.get('oldPassword')?.hasError('required') && submitted">Puste Pole</p>
        </div>
    </div>

    <div class="input__wrapper">
      <p>Nowe hasło:</p>
        <input type="password" class="form__input" formControlName="newPassword">
        <div class="error__popup">
          <p *ngIf="myForm2.get('newPassword')?.hasError('invalidPassword') && !myForm2.get('newPassword')?.hasError('required') && submitted">Błędne hasło</p>
          <p *ngIf="myForm2.get('newPassword')?.hasError('required') && submitted">Puste Pole</p>
        </div>
    </div>

    <div class="input__wrapper">
      <p>Powtórz nowe hasło:</p>
        <input type="password" class="form__input" formControlName="repeatNewPassword">
        <div class="error__popup">
          <p *ngIf="myForm2.get('newPassword')?.hasError('passwordMismatch') && !myForm2.get('repeatNewPassword')?.hasError('required') && submitted">Hasła nie są identyczne</p>
          <p *ngIf="myForm2.get('repeatNewPassword')?.hasError('required') && submitted">Puste Pole</p>
          <p *ngIf="errors.includes('databaseError') && submitted"> Coś poszło nie tak </p>
          <p *ngIf="errors.includes('passwordUpdated')" class="successful">Hasło zaktualizowane</p>
        </div>
    </div>
    <button type="submit" class="submit__button">Zmień hasło</button>

  </form>
</div>
