<div class="item"
     [ngClass]="[
  itemSize=='small' ? 'item__small' : itemSize=='medium' ? 'item__medium' : 'item__big',
  clickable ? 'clickable' : '']"
     *ngIf="item">

  <div *ngIf="buttonPlacment=='side'">
    <button class="button__small"
            *ngIf="showButtonCart"
            (click)="cart($event, item.item_id)"
            [ngClass]="[
          isItemInCart(item.item_id) ? 'active' : '',
          whichButtonFirst=='cart' ? 'button__top' : 'button__bottom'
          ]">
      <mat-icon>shopping_basket</mat-icon>
    </button>
    <button class="button__small"
            *ngIf="showButtonFavorite"
            (click)="fav($event, item.item_id)"
            [ngClass]="[
          isItemInFav(item.item_id) ? 'active'  : '',
          whichButtonFirst=='fav' ? 'button__top' : 'button__bottom'
          ]">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
  <div class="item__wrapper"
       [ngClass]="columnAmount=='one' ? 'item__wrapper__col1' : 'item__wrapper__col2'"
       (click)="redirectToItem(item.item_id)">

    <div class="item__image"
         [ngClass]="imageSize=='small' ? 'item__image__small' : imageSize=='medium' ? 'item__image__medium' : 'item__image__big'"
         [ngStyle]="{'background-image': item.image ? 'url(' + item.image + ')' : 'none'}">
    </div>
    <div class="item__information">

      <p class="overflow__stopper">{{ (item.name).length > 40 ? (item.name | slice:0:40) + '...' : item.name }}</p>
      <div *ngIf="showRating" class="item__rating">
        <p>{{item.rating}}</p>
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
          <mat-icon *ngIf="item.rating >= star" class="star">star</mat-icon>
          <mat-icon *ngIf="item.rating >= star - 0.5 && item.rating < star" class="star">star_half</mat-icon>
          <mat-icon *ngIf="item.rating < star - 0.5" class="star">star_outline</mat-icon>
        </ng-container>
        <p>na {{item.review_amount}}</p>
      </div>

      <div class="item__quantity">
        <p> {{ itemQuantity != null ? item.cost * itemQuantity : item.cost }}zł</p>
        <form  class="item__quantity__form" *ngIf="itemQuantity != null && showQuantity=='input'" [formGroup]="quantityForm">
          <input class="quantity__input"
                 type="text"
                 formControlName="quantity"
                 (input)="onQuantityChange()">
        </form>
        <p *ngIf="itemQuantity != null && showQuantity=='number'"> {{ itemQuantity }}</p>
        <p *ngIf="showQuantity == 'number' || showQuantity == 'input'"> Sztuki</p>
      </div>
    </div>

  </div>
  <p class="item__description overflow__stopper"
     *ngIf="showDescription"
     [ngClass]="buttonPlacment=='side' ? 'item__description__margin' : ''"> {{item.description}}</p>
  <div class="button__wrapper" *ngIf="buttonPlacment=='bottom'">
    <button class="button__big"
            *ngIf="showButtonCart"
            (click)="cart($event, item.item_id)"
            [ngClass]="[
            isItemInCart(item.item_id) ? 'active'  : '',
            whichButtonFirst=='cart' ? 'button__first' : 'button__second'
            ]">
      <p>Dodaj do koszyka</p>
      <mat-icon>shopping_basket</mat-icon>
    </button>
    <button class="button__big"
            *ngIf="showButtonFavorite"
            (click)="fav($event, item.item_id)"
            [ngClass]="[
            isItemInFav(item.item_id) ? 'active'  : '',
            whichButtonFirst=='fav' ? 'button__first' : 'button__second'
            ]">
      <p>Dodaj do zapisanych</p>
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</div>
