<p class="title">Koszyk</p>

@if (items.length == 0) {
  <p class="title__small">Koszyk jest pusty</p>
} @else if (items.length != 0 && !loginStatus) {
  <p class="title__small__margin">Zaloguj się by móc kupić produkty</p>
}

<div class="items__wrapper">
  @for (itemEl of items; track itemEl.item.item_id) {
    <app-item
      class="wrap"
      [item]="itemEl.item"
      [itemQuantity]="itemEl.quantity"
      [showQuantity]="'input'"
      [showBorder]="true"
      [showRating]="false"
      [showButtonFavorite]="false"
      [showButtonCart]="true"
      [showDescription]="false"
      [clickable]="false"
      [itemNameLength]="'medium'"
      [columnAmount]="'one'"
      [imageSize]="'medium'"
      [itemSize]="'medium'"
      [buttonPlacment]="'side'"
      [whichButtonFirst]="'cart'"
      (quantityChange)="handleQuantityChange($event)"
    ></app-item>
  }
</div>
@if (items.length != 0 && loginStatus) {
  <p class="title">Złóż zamówienie</p>
  <app-cart-form
    class="wrapper"
    [items]="items"
    [loginStatus]="loginStatus"
    [user]="user"
    [totalCost]="totalCost">
  </app-cart-form>
}

