.title {
  color: var(--White);
  font-size: 32px;
  font-weight: bolder;
  align-self: center;
  text-align: center;
  position: relative;
}
.login__input {
  color: var(--White);
  background-color: var(--Grey);
  width: 180px;
  height: 30px;
  text-align: center;
}
.login__title {
  color: var(--White);
}
.input__wrapper {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: space-between;
}
.login__button {
  background-color: var(--Grey);
  color: var(--White);
  align-self: center;
  width: 200px;
  padding: 10px 0;
  border: 2px solid var(--White);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 20px;
  margin: 10px 0 0 0;
  &:hover {
    border: 2px solid var(--Blue);
    color: var(--Blue);
  }
}
.title__small__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.title__small {
  color: var(--White);
  font-size: 20px;
}
.line {
  width:70px;
  height:1px;
  background-color: var(--White);
}
a {
  color: var(--White);
  font-size: 20px;
  text-align: center;
}




.error__wrapper {
  position: relative;
}
.error__popup {
  position: absolute;
  width:180px;
  top: 35px;
  font-size: 14px;
  text-align: center;
  color: var(--Red);
}
.successful {
  color: var(--Green);
}
