<p class="title">
  @if (authMode == 'login') {
    <span>Logowanie</span>
  } @else if (authMode == 'register') {
    <span>Rejestracja</span>
  }
</p>

<form class="form__wrapper" [formGroup]="authMode=='login' ? loginForm : registerForm" (submit)="onSubmit()">
  <div class="form__wrapper">
    @if (authMode == 'login') {
      <app-input-wrapper
        [inputLabel]="'Email'"
        [inputPlaceholder]="'abcd@gmail.com'"
        [inputType]="'email'"
        [submitted]="submitted"
        [control]="emailLogin">
      </app-input-wrapper>
      <app-input-wrapper
        [inputLabel]="'Hasło'"
        [inputPlaceholder]="''"
        [inputType]="'password'"
        [submitted]="submitted"
        [control]="passwordLogin">
      </app-input-wrapper>
    } @else if (authMode == 'register') {
      <app-input-wrapper
        [inputLabel]="'Nazwa użytkownika'"
        [inputPlaceholder]="'sheinuser22335'"
        [inputType]="'text'"
        [submitted]="submitted"
        [control]="usernameRegister">
      </app-input-wrapper>
      <app-input-wrapper
        [inputLabel]="'Email'"
        [inputPlaceholder]="'abcd@gmail.com'"
        [inputType]="'email'"
        [submitted]="submitted"
        [control]="emailRegister">
      </app-input-wrapper>
      <app-input-wrapper
        [inputLabel]="'Hasło'"
        [inputPlaceholder]="''"
        [inputType]="'password'"
        [submitted]="submitted"
        [control]="newPasswordRegister">
      </app-input-wrapper>
      <app-input-wrapper
        [inputLabel]="'Powtórz hasło'"
        [inputPlaceholder]="''"
        [inputType]="'password'"
        [submitted]="submitted"
        [control]="repeatNewPasswordRegister">
      </app-input-wrapper>
    }
  </div>

  <button class="submit__button">
    @if (authMode == 'login') {
      <span>Zaloguj się</span>
    } @else if (authMode == 'register') {
      <span>Zarejestruj się</span>
    }
  </button>

</form>
<div class="auth__bottom">
  <div class="line__wrapper">
    <span class="line"></span>
    <p class="title__small">
      @if (authMode == 'login') {
        <span>Nie masz konta?</span>
      } @else if (authMode == 'register') {
        <span>Masz konto?</span>
      }
    </p>
    <span class="line"></span>
  </div>

  <a class="link" (click)="changeAuthPage(authMode)">
    @if (authMode == 'register') {
      <span>Zaloguj się</span>
    } @else if (authMode == 'login') {
      <span>Zarejestruj się</span>
    }
  </a>

</div>

