<div class="wrapper">
  <app-return-button></app-return-button>
  <p class="title">Zamówienia</p>
  <p class="title__small" *ngIf="orders.length == 0">Nie ma złożonych zamówień</p>
  <div class="orders__wrapper" *ngIf="orders.length > 0">
    <app-order class="wrap"
               *ngFor="let order of orders"
               [order]="order"
               [clickable]="true"
               [showBorder]="true"
               [useMargin]="true"
               [dataLength]="'short'"
    ></app-order>
  </div>
</div>
