.wrapper {
  display: flex;
  width: clamp(360px, 100vw, 760px);
  flex-direction: column;
}
.orders__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 100px;
  justify-content: center;
}
