@use '@angular/material' as mat;
@include mat.core();
$BeatkaProjekt-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));
:root {
  @include mat.all-component-themes($BeatkaProjekt-theme);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  --Black:rgb(34, 40, 49);
  --Grey:rgb(57, 62, 70);
  --Blue:rgb(0, 173, 181);
  --White: rgb(250, 238, 209);
  --Yellow:rgb(255, 212, 96);
  --Red:rgb(234, 84, 85);
  --Green:rgb(161, 238, 189);
}

